body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #b8b8b8; /* Web sayfasının arka plan rengi */
    color: #121212; /* Metin rengi */
}

h1 {
    color: #313131; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}


@keyframes color-change1 {
    0% {
        color: red;
    }
  
    10% {
        color: rgb(255, 61, 61);
    }
      
    20% {
        color: rgb(255, 91, 91);
    }
      
    30% {
        color: rgb(248, 106, 106);
    }
  
    40% {
        color: rgb(233, 136, 136);
    }
  
    50% {
        color: rgb(255, 154, 154);
    }
    60% {
        color: rgb(233, 136, 136);
    }
    
    70% {
        color: rgb(248, 106, 106);
    }
        
    80% {
        color: rgb(255, 91, 91);
    }
        
    90% {
        color: rgb(255, 61, 61);
    }
    
    100% {
        color: red;
    }
        }
h2:hover {
    animation: color-change1 3s infinite;
}

@keyframes color-change2 {
    0% {
        color: rgb(209, 51, 51);
    }
  
    50% {
      color: rgb(16, 119, 122);
    }
  
    100% {
      color: rgb(186, 50, 50);
    }
}

h1:hover {
    animation: color-change2 3s infinite;
}

@keyframes color-change3 {
    0% {
        color: rgb(21, 0, 249);
    }
  
    50% {
      color: rgb(0, 167, 222);
    }
  
    100% {
        color: rgb(255, 0, 195);
    }
}


li:hover {
    animation: color-change3 3s infinite;
}